.Login{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: azure;
}

.submissionForm{
    background-color: white;
    position: relative;
    max-width:400px;
    margin:2rem auto;
    padding:2rem;
    border-radius:5px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    transition: "0.3s";
    top: 25%;
    text-align: center;
}

.labelA{
    display:block;
    padding:1rem 0 .25rem;
    text-transform:uppercase;
    font-size:14px;
}

.errorMessage{
    position: relative;
    text-align: center;
    top: 18%;
    color: red
}

